.cityContainer{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.cityCard{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.city_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 20px 0;
    padding: 20px 10px 10px 10px;
  }

.city_name {
      color: black;
  }

.city_image {
      width: 200px;
      height: 100px;
      margin: 0 0 10px 0;
}

.citynameTag{
  margin-top: 30px ;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.5em;
  font-weight: bold;
}
