.add-car{
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.add-Car-Div .submit-button{
  color: black;
  padding: 0 5px 0 5px;
  height: 40px;
  background-color: #D8E2DC;
  font-size: large;
  width: 450px;
}

.add-Car-Div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.add-Car-Div input {
    height: 40px;
    width: 450px;
}

