/* TODO Add site wide styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900,100thin,300light);

html, body, html * {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
    min-width: 100vw;
    min-height: 100vh;
}
