.displayCars {
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

.h2tag {
  margin-top: 50px ;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
