.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    background:#D8E2DC;
    padding: 20px;
    gap: 300px
}

.searchForm{
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: #f8edeb;
    border-width: 1px;
}

.rental-ride{
    margin-top: none;
    padding-top: none;
    font-weight:bolder;
    font-size:2em !important
}

a {
    color: black;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}


.navigationLinks {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sessionDiv{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hiUser {
    color: black;
    font-size: larger;
    font-weight: bold;
}

.navButton {
    font-size: larger;
    font-weight: bold;
    border-radius: 1em;
    border:none;
    margin-top: none;
    padding-top: none;
    background-color:#D8E2DC;
}

.navButton:hover{
    text-decoration: underline;
}
