.loginContainer{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width : 400px;
    height: auto;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin:20px;
    gap : 10px;
}

input {
    box-sizing:border-box;
    width: 350px;
}

.loginButtonDiv{
    display: flex;
    flex-direction: row;
    gap : 20px;
    justify-content: center;
    margin: 20px;
}

.loginButtons{
    height:auto;
    width:auto;
    border-radius: 1em;
    font-size: large;
}

